[submodule "SharedModules"]
	path = SharedModules
	url = https://github.com/mahmoudmardini-sw/SharedModules
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/mahmoudmardini-sw/MediaServiceCore
